<header>
    <div class="navigation">
        <div class="navigation-wrapper container">
        <div class="navigation-left">
            <a class="navigation-button" routerLink="/">
                <img class="navigation-logo" src="/assets/img/logo-sticker.png" alt="Firestarter">
            </a>
        </div>
        <div class="navigation-right">
            <a class="navigation-button" href="https://vote.firestartermc.com" target="_blank">
                <p class="navigation-button-text">Vote</p>
            </a>
            <a class="navigation-button" href="http://store.firestartermc.com" target="_blank">
                <p class="navigation-button-text">Store</p>
            </a>
            <a class="navigation-button" routerLink="rules">
                <p class="navigation-button-text">Rules</p>
            </a>
            <a class="navigation-button" routerLink="staff">
                <p class="navigation-button-text">Staff</p>
            </a>
        </div>
        </div>
    </div>
    <div class="banner">
        <div class="hero">
        <h1 class="banner-header">Firestarter</h1>
        <h3 class="banner-description">A community-driven survival realm.</h3>
        <a class="ip-button" id="ip" [ngStyle]="{'background-color': color}" (click)="copyIP()">🤙 {{ ip }}</a>
        </div>
    </div>
</header>