/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Karla:400,500,600,700&display=swap');

@font-face {
  font-family: 'Metropolis';
  src: url('/assets/font/Metropolis-Regular.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/assets/font/Metropolis-Medium.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Metropolis';
  src: url('/assets/font/Metropolis-SemiBold.woff2') format('woff2');
  font-weight: 700;
}

* {
  font-family: 'Karla', sans-serif;
}

html, body {
  height: 100%;
  background-color: #ede7e3;
  margin: 0;
}
code {
  color: #FF8C27;
  background-color: #2b2b2b;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #EBEBEB;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF5B5B;
  /*border-radius: 1em;*/
  transition: 0.3s;
}

/* Highlight color */
::selection {
  background: #FFB1B1;
}
::-moz-selection {
  background: #FFB1B1;
}

/* Markdown override */
markdown {
  color: #535353;

  h1 {
    font-size: 1.1em;
    font-weight: 600;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }
}